<div class="container">

<div class="d3-object">
  <div class="popup">
  </div>
</div>

<div class="map-info hidden">
  <h4>Visualization keys</h4><hr>
    <ul style="margin-left:-24px;">
      <li>Map circle size is determined by disclosed funding amount</li>
      <li>The startup pulse is a momentum indicator based on Twitter followers gained in the last 24 hours</li>
      <li>All startup information collected from Crunchbase</li>
    </ul>
</div>

<div class="data">
    <div class="col-md-6 col-md-offset-6">

      <div class="panel panel-default">
        <div id="key" class="panel-heading"><span class="glyphicon glyphicon-cog-two"></span>&nbsp Startup Pulse
          <div id="view_selection" class="btn-group" style="float:right; margin-top:-6px;">
            <a href="#" id="all" type="button" class="btn btn-default btn active">Startup Pulse</a>
            <a href="#" id="category" type="button" class="btn btn-default">By Sector</a>
          </div>
        </div>
        <div class="panel-body"  style="margin-bottom:-25px; margin-top:-15px;">
          <div id="vis"></div>
        </div>
      </div>

      <div class="panel panel-default">
        <div id= "category" class="panel-heading"><span class="glyphicon glyphicon-cog"></span>&nbsp Sector Diversity
          <div id="view_selection_donut" class="btn-group" style="float:right; margin-top:-6px;">
            <a href="#ny" id="ny" type="button" class="btn btn-default btn active">New York</a>
            <a href="#sv" id="sv" type="button" class="btn btn-default">Silicon Valley</a>
          </div>
        </div>
        <div class="panel-body" style="width: 100%; text-align: center;">
          <div id="donut" style="display: inline-block;"></div>
        </div>
      </div>

  </div>
</div>

</div>

<div id="main-footer">
  <p class="text-muted credit">Created by <a href="mailto:christinetcoulter@gmail.com?Subject=Made in NY">Christine Coulter</a> and <a href="mailto:nicklombardi@gmail.com?Subject=Made in NY">Nick Lombardi</a></p>
</div>