<div class="points">
<script>

var w = 1000
var h = 1000

// var dataset = [
//               [-73.989418, 40.739300, 14.3, "General Assembly", "info"], [-74.008068, 40.739395, 46, "Warby Parker", "info"]
//               ];

var color = d3.scale.category20c();

var projection = d3.geo.mercator() 
  .center([-73.877220, 40.687635]) 
  .scale(255000) 
  .translate([752.2, 687.5]);

var svg = d3.select("body")
  .append("svg")
  .attr("width", w)
  .attr("height", h);

svg.selectAll("dot")
  .data(dataset)
  .enter()
  .append("circle")
  .attr("class", "dot")
  .attr("transform", function(d){
    return "translate(" + projection([d[0], d[1]]) + ")";
    })
  .attr("r", function(d) {
    return (d[2]/4);
  })
  .style("fill", function(d) {
    return color(d[2]);
});


var div = d3.select("body").append("div")
  .style("position", "absolute")
  .style("text-align", "left")
  .style("background", "white")
  .style("border-radius", "4px")
  .style("padding", "6px")
  .style("border", "solid 1px #DBDCDE")
  .style("opacity", 0);

function mouseover(d) {
  d3.select(this)
    .transition()
    .ease("elastic")
    .attr("r", (d[2]/2))
    .duration(500);

  div.html(d[3] + "<br />" + d[4])
    .style("left", (d3.event.pageX + 9) + "px")
    .style("top", (d3.event.pageY - 43) + "px")
    div
    .transition()
    .style("visibility", "visible")
    .style("opacity", 1)
    .duration(500);
}

function mouseout(d) {
  d3.select(this)
    .transition()
    .ease("elastic")
    .attr("r", (d[2]/4))
     .duration(1000);
  div
    .transition()
    .style("opacity", 1e-6)
    .style("visibility", "hidden")
    .duration(1000);

}

d3.selectAll(".dot")
  .on("mouseover", mouseover)
  .on("mouseout",  mouseout);



</script>
</div>

<div class="container data">
<div class="row">
  <div class="col-md-5 col-md-offset-7">

    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-sort"></span>&nbsp trends</div>
      <div class="panel-body">
        data
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-signal"></span>&nbsp markets</div>
      <div class="panel-body">
        data
      </div>
    </div>

  </div>
</div>
</div>