<div class="container data">
<div class="row">
  <div class="col-md-5 col-md-offset-7">

    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-sort"></span>&nbsp trends</div>
      <div class="panel-body">
        <div id="objectives">
          <a href="#agg">New York</a>
          <a href="#bal">Silicon Valley</a>
        </div>
        <div id="d3portfolio"></div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><span class="glyphicon glyphicon-signal"></span>&nbsp markets</div>
      <div class="panel-body">
        data
      </div>
    </div>

  </div>
</div>
</div>