.data {
  position: relative;
  z-index: 15;
  margin-top: -950px;
}

.dot95 {
  stroke: #ffffff;
}

#donut {
  width: 320px;
  height: 320px;
}
.chartLabel {
  font: 18px;
  fill: #666;
}
.arcLabel {
  font: 20px;
  fill: #fff;
}