.data {
  position: relative;
  z-index: 0;
  margin-top: -970px;
}

.d3-object {
  postion: absolute;
  z-index: 20;
}

.dot {
  stroke: #ffffff;
}

#donut {
  width: 320px;
  height: 320px;
}
.chartLabel {
  font: 18px;
  fill: #666;
}
.arcLabel {
  font: 20px;
  fill: #fff;
}

#main-footer {
  postion: relative;
  margin-left: 75px;
  margin-top: 90%;
}

@media (min-width: 990px) {
  .col-md-6 {
    width: 70%;
  }
}


@media (max-width: 990px) {
 .data {
  position: relative;
  z-index: 0;
  margin-top: -350px;
  }
  .col-md-6 {
    width: 70%;
  }
}

