<div class="navbar-fixed-bottom" style="margin: 25px; margin-bottom:5px">
  <p class="text-muted credit">Created by <a href="mailto:christinetcoulter@gmail.com?Subject=SolarEyes">Christine Coulter</a> and <a href="mailto:nicklombardi@gmail.com?Subject=SolarEyes">Nick Lombardi</a></p>
</div>